.messages-wrap{
    cursor: pointer;
}
.message-button,.chat-wrap{
    position: absolute;
    bottom: 20px;
    right: 0px;
    border-radius: 50px;
    transition: 0.4s ease;
    border: none;
    padding-top:5px;
}
.message-button{
    padding:20px 23px;
    background-color:$darkblue;

    &:focus{
        outline: none;
    }
    i{
        color:$white;
        font-size:20px;
    }
}
.open-messages{
    z-index: 14;
}
.close-messages{
    z-index:13
}
.chat-wrap{
    z-index:12;
    transform-origin: bottom right;
    height:0;
    width:0;
    transform: scale(0);
    background-color:$white;
    border-radius: 50px;
    overflow:scroll;
    .img{
        height:40px;
        width:40px;
    }
    .image-wrap{
        margin-right:15px;
        display:flex;
    }
    .users-wrap{
        display:flex;
        padding:10px 20px;
   
    &:first-of-type{
        margin-top:15px;
    }
        .message-wrap{
            width:100%;
            .user-info{
                display: flex;
                justify-content: space-between;
                h6{
                    color: $darkblue;
                    font-weight: 600;
                    font-size:16px;
                }
                span{
                    font-size: 10px;
                    color:$medium-gray;
                }
            }
            .last{
                display: flex;
                justify-content: space-between;
                .last-message{
                    color:$medium-gray;
                    font-size:12px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 60%;
                }
            }
        }
    }
}

.z-index-lower{
    z-index:3 !important;
    transition:1s ease;
}
.transparent-bg-visible{
    position: fixed ;
    top: 0 ;
    right: 0;
    background: rgba(0,0,0,0.2);
    width: 100% ;
    height: 100% ;
    z-index: 11;
    transition: 0.4s ease-in-out;
    visibility: visible !important;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity:1 !important;
}
.transparent-bg{
    visibility: hidden;
    transition: 0.5s ease-in-out;
    opacity:0;
}

.chat-box{
    padding: 5px 0px;
    i{
        color:$darkblue;
    }
    p{
        font-weight: 700;
        color:$darkblue;
    }
}
.chatbox-visible{
    visibility: visible !important;
    height:100%;
    width:100%;
    opacity: 1;
}