.messages-wrap{
    cursor: pointer;
}
.chat-wrap{
    position: fixed;
    bottom: 20px;
    right: 0px;
    // border-radius: 50px;
    transition: 0.4s ease;
    border: none;
    padding-top:5px;
}
.message-button{
    position: relative;
    bottom: 20px;
    right: 0px;
    transition: 0.4s ease;
    border: none;
    padding-top: 5px;
    // height: 100px;
    // width: 100px;
    z-index: 14;
    &:focus{
        outline: none;
    }
    i{
        color: $white;
        font-size: 20px;
        background-color: $darkblue;
        padding: 20px;
        border-radius: 50px;
        position: fixed;
        bottom: 20px;
        right: 10px;
    }
}
.open-messages{
    z-index: 14;
}
.close-messages{
    z-index:13
}
.chat-wrap{
    z-index:12;
    transform-origin: bottom right;
    height:0;
    width:0;
    transform: scale(0);
    background-color:$white;
    border-radius: 50px;
    overflow:scroll;
    .img{
        height:40px;
        width:40px;
    }
    .image-wrap{
        margin-right:15px;
        display:flex;
    }
    .users-wrap{
        display:flex;
        padding:10px 20px;
        
        &:first-of-type{
            margin-top:15px;
        }
        .message-wrap{
            width:100%;
            .user-info{
                display: flex;
                justify-content: space-between;
                h6{
                    color: $darkblue;
                    font-weight: 600;
                    font-size:16px;
                }
                span{
                    font-size: 10px;
                    color:$medium-gray;
                }
            }
            .last{
                display: flex;
                justify-content: space-between;
                .last-message{
                    color:$medium-gray;
                    font-size:12px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 60%;
                }
            }
        }
    }
}

.z-index-lower{
    z-index:3 !important;
    transition:1s ease;
}
.transparent-bg-visible{
    position: fixed ;
    top: 0 ;
    right: 0;
    background: rgba(0,0,0,0.2);
    width: 100% ;
    height: 100% ;
    z-index: 11;
    transition: 0.4s ease-in-out;
    visibility: visible !important;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity:1 !important;
}
.transparent-bg{
    visibility: hidden;
    transition: 0.5s ease-in-out;
    opacity:0;
}

.chat-box,.single-chat-heading {
    padding: 5px 0px;
    i{
        color:$darkblue;
    }
}
.chat-main-heading, .single-chat-main-heading{
    font-weight: 700;
    color: $darkblue;
}
.single-chat-main-heading{
    transform: translateY(40px);
    opacity: 0;
    margin: 0;
    position: absolute;
}
.close-messages-icon{
    z-index:10
}
.open-messages-icon{
    z-index:11
}


.all-chat-messages{
    position: absolute;
    bottom: 0;
    right: -450px;
    z-index: 15;
    opacity: 0;
    border-radius: 8px;
    .all-messages-header{
        transform: scale(0);
        width:0;
        height:auto;
        opacity: 0;
        border-bottom:1px solid $light-gray;
    }
    .chat-messages{
        background-color: $white;
        height:80%;
        
    }
    .img{
        height: 40px;
        width: 50px;
        margin-right: 20px;
    }
    .single-message-wrap{
        width: 100%;
        // padding-left: 20px;
        font-weight: 700;
        color: #003368;
        
        p{
            background-color: #f4f4f4;
            max-width: 70%;
            padding: 8px 14px;
            border-radius: 25px;
            width: 70%;
            font-weight: 500;
            margin:0
            
        }
    }
}
.send-message{
    // position: fixed;
    bottom: 20px;
    width: 100%;
    left: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: $light-gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .message-input{
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 8px;
        padding:5px 10px;
        &:focus{
            outline: none;
        }
    }
    i{
        color:$darkblue;
        padding:20px;
        padding: 20px 10px;
    }
}
.new-message-wrap{
    transform: translateX(-450px);
    opacity:0;
    position: absolute;
    bottom:0;
    left: 0;
    height: 100%;
    width:100%;
    background-color:$white;
    .chat-main-heading{
        padding-left:20px;
    }
    .new-message-heading{
        background-color:$white;
    }
    .sendtouser{
        padding: 10px 20px;
        align-items: center;
        display: flex;
        label{
            color:$darkblue;
            margin-right: 10px;
            margin-bottom: 0;
        }
        input{
            background-color: $light-gray;
            border-radius: 30px;
            border: none;
            width: 100%;
            padding:4px;
            &:focus{
                outline: none;
            }
        }
    }
    .user-list{
        max-height: 25%;
        overflow: scroll;
        padding: 10px 20px;
        background-color: $light-gray;
        margin: 0px 20px;
        border-radius: 8px;
        // transform: translateY(-20px);
        // opacity:0;
        // height:0;
        .single-listed-user{
            display: flex;
            align-items: center;
            margin:10px 0px;
            
            .img{
                margin-right:20px;
                background-color:$white
            }
            p{
                margin:0;
                font-weight: 700;
                color:$darkblue;
            }
        }
    }
    .message-content{
        height:80%;
    }
    .send-message{
        position: fixed;
        bottom:0;
        margin:0 !important
    }
}