.single-product-wrap{
    .VueCarousel{
        // z-index:-9;
        // top:150px;
        // transform: scale(0);
    }
    .transparent-background{
        visibility: hidden;
        height:100%;
        width: 100%;
        opacity: 0;
        transition: 0.2s ease-out
    }
    .image-carousel{
        // transform: scaleY(0);
        transform: translateY(-400px);
        height:0%;
        width:100%;
        transform-origin:top;
        transition:0.3s ease;
        opacity: 0;
        position: absolute;
        left: 0;
        /* right: 0; */
        margin: 0 auto;
        padding: 10px;
    }
    .image-carousel-scale{
        z-index:24;
        // position: relative !important;
        transition:0.4s ease;
        height:auto !important;
        // width:100% !important;
        transform: scaleY(1) !important;
        opacity: 1 !important;
        transform: translateY(0) !important;

    }
    .img{
        width:100%;
        height:220px;
        overflow: hidden;
        border-radius:8px;
        margin-bottom:10px;
        margin:0 auto;
        img{
            width:100%;
            height:auto;
        }
    }
    .single-product-heading-wrap{
        padding:20px 0px;
        .single-product-info-wrap{
            display:flex;
            justify-content: space-between;
            .single-product-info{

                h5{
                    font-weight: 900;
                    font-size:16px;
                    text-transform: capitalize;
                    color:$darkblue;
                    margin:0;
                }
                p{
                    font-weight:400;
                    color:$darkblue;
                    margin:0;
                    font-size:14px;

                    span{
                        font-weight: 700;
                        color:$darkblue;
                        font-size:14px;
                    }
                }
            }
            span{
                font-size: 12px;
                font-weight: 300;
                color:$medium-gray;
            }
        }
        p{
            font-weight: 400;
            color:$medium-gray;
            margin:0;
            font-size: 12px;
            padding-top:4px;
        }
    }
    .product-user-info-wrap{
        background-color: #f4f4f4;
        padding: 10px 7px;
        .product-user-info-heading{
            display:flex;
            justify-content:space-between;
            p{
                margin-bottom:10px;
                font-weight: 600;
                font-size:0.7rem;
                color:$darkblue;
            }
            span{
                font-weight: 600;
                color:$medium-gray;
                font-size:0.7rem;
            }
        }
        .product-user-information{
            .user-info{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                /* width: 100%; */
                .user{
                    display:flex;
                }
                h5{
                    font-size: 1rem;
                    color: $darkblue;
                    // margin-bottom:15px;
                    margin-right:5px;
                }
                .rating {
                    display: flex;
                    i{
                        font-size: 0.4rem;
                        margin-right:3px;
                    }
                    span{
                        font-size: 0.7rem;
                        color:$darkblue;
                    }
                    .upvotes, .downvotes{
                        display: flex;
                        align-items: flex-start;
                        cursor: pointer;
                    }
                    .upvotes{
                        padding-right: 10px;
                        i{
                            color:$green;
                        }
                    }
                    .downvotes i{
                        color:$red;
                    }
                }
            }

            p{
                margin:0;
                color:$darkblue;
                font-weight:400;
                font-size: 0.7rem;
                span{
                    padding-left:4px;
                }
            }
            button{
             background-color:$lightblue;
             color:$white; 
             margin:15px 0px 7px 0px;
             border-radius:8px;
             padding: 6px;
             font-size: 0.8rem;
           
            }
        }
    }
}
.shrinkImage{
    height:200px !important;
    transition:0.5s ease-in !important
}
.image{
    transition:0.4s ease-out;
    // z-index: 99;
    position: relative;
    // display: none;
}

// .VueCarousel{
//     min-height: 100vh;
// }

.carouselitem{
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 10px;
    margin: 0 auto;
}
.trans-bg{
z-index:23;
background-color: rgba(0,0,0,0.8);
height:100%;
width:100%;
position: fixed;
top:0;
right:0;
visibility: visible !important;
padding:20px;
opacity:1 !important;
}