.swipe-options-wrap{
  background-color:$darkblue;
  visibility: hidden;
  // transform: translate(20px) scaleX(0);
  // position: absolute;
  width:0%;
  // right:20px;
  transform-origin: 100% 100%;
  i{
    color:$white;
  }
}
.visible{
  visibility: visible !important;
}
