.swipe-options-wrap{
  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  width:0%;
  z-index:9;
  position: relative;
  right: 0;
  transform-origin: 100% 100%;
  // background:$light-gray;
  transform: translate(30px);
  // .call{
  //   transform: translateX(13px);
  // }
  // .message{
  //   transform: translateX(-11px)
  // }
  // .option{
  //   visibility: hidden;
  // }
  i{
    color: $white;
    background:$darkblue;
    padding: 5px;
    border-radius: 13px;
  }
}
.visible{
  visibility: visible !important;
}
