.nav-button{
    border:none;
    background: none;
    padding: 0.5em 1.5em;
    &:focus{
        outline:none;
    }
    i{
        font-size: 15px;
        color:$darkblue
    }
}
.drop-navigaton{
    width: 80%;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform: translateX(500px);
    position: absolute;
    z-index: 99;
    right: 0;
    top: 37px;
    background-color: #003368;
    display: flex;
    justify-content: flex-end;
    .nav-list{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width:100%;
        .navigation-item{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            cursor: pointer;
            span{
                margin-left:10px;
            }
        }
    }
}
.show-nav{

    transform: translate(0px);
    transform-origin: 0 100%;
    li{
        a{
            color:$white;
        }
    }
}
.navigation{
    background-color:$light-gray;
    .mylogo{
        .whole-word{
            letter-spacing:0px;
        }
        span{
            letter-spacing: -3px;
        }
        .logo-orange{
            color:$orange;
        }
        .logo-green{
            color:$green;
        }
        .logo-red{
            color:$red
        }
        .logo-lightblue{
            color:$lightblue;
        }
        .logo-darkblue{
            color:$darkblue;
        }
    }
}
.navbar{
    margin:0 !important;
    padding:0 !important;
}