.search-component{
    .search-bar{
        background-color:$light-gray;
        display:flex;
        justify-content: space-between;
        align-items:center;
        border-radius:20px;
        padding:0px 15px;
        .input-wrap{
            padding:0px;
        }
        input{
            transition: 0.2s ease-in-out;
            background: transparent;
            border:none;
            width:100%;
            padding:5px;
        }
        input[type=text]:focus{
            outline: none;     
          }
        .cancel{
            transform:translateX(15px), scaleX(0.8);
            
            i{
                transition:all 0.2s ease-in-out;
                visibility:hidden;
                background-color: $darkblue;
                font-weight: 900;
                padding: 10px 12px;
                border-radius: 20px;
                color:$white;
                cursor:pointer;
            }
        }
    }
    .filters-wrap{
        display:flex;
        justify-content: space-between;
        align-items:center;
        // transition: 0.4s ease-in-out;
        margin:10px;
    }
    .filter-buttons{
        display: flex;
        .checkbox {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding-left:20px;
            color:$darkblue;
            margin-right:10px;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: 3px;
                left: 0;
                height: 15px;
                width: 15px;
                background-color: $light-gray;
                border:2px solid $lightblue;
                border-radius:4px;
            }
            &:hover input ~ .checkmark {
                background-color: #ccc;
            }
            input:checked ~ .checkmark {
                background-color: $lightblue;
            }
        }
    }
}

.enlarge-search{
    padding: 10px 0px !important;
    transition: 0.2s ease-in-out;
}
.show{
    visibility: visible !important;
    transform:scale(1) !important;
    transition: 0.2s ease-in-out;
    // transform:translateX(0px);
}